@import "fonts";
@import "margins";

:root {
    --dark-color: #000000;

    --light-color: #ffffff;

    --violet: #bfa1ff;

    --violet-accent: #ae7aff;

    --red: #ff2f2f;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: var(--dark-color);
    background-image: url(/assets/images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--light-color);

    font-family: 'JetBrains Mono', sans-serif;
}

.label {
    display: block;

    font-weight: 700;
    line-height: 1rem;
}

.input {
    width: 100%;
    padding: 0.75rem 1.25rem;

    border: 1px solid var(--light-color);
    border-radius: 0.5rem;

    background-color: var(--dark-color);
    color: var(--light-color);

    font-size: 1rem;
    line-height: 1.25rem;
    font-family: 'JetBrains Mono', sans-serif;
}

.error {
    margin-top: 0.375rem;

    display: block;

    color: var(--red);

    font-size: 0.875rem;
}

@media(min-width: 1440px) {
    html {
        font-size: 18px;
    }
}