<form class="profile--form" [formGroup]="searchForm">
    <div class="profile--form__fields--container">
        <div class="two-columns-input-container">
            <label class="form--input__container">
                <span class="form--input__label">Имя пользователя</span>
                <input class="form__input" formControlName="firstName">
            </label>

            <label class="form--input__container">
                <span class="form--input__label">Навыки</span>
                <input class="form__input" formControlName="stack">
            </label>
        </div>
    </div>
</form>