 .profile--form {
     padding: 1rem;

     border: 1px solid var(--light-color);

     background-color: var(--dark-color);


     .profile--form__fields--container {
         margin-bottom: 2rem;

         display: grid;
         row-gap: 1.5rem;

         .two-columns-input-container {
             display: grid;
             grid-template-columns: 1fr 1fr;
             column-gap: 1rem;
         }
     }
 }