:host {
    height: 100dvh;
    margin: 0 10%;

    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 16rem;
    align-items: center;
}

.login--form {
    min-width: 25rem;
    max-width: 40rem;

    .login--form__title {
        margin-bottom: 3.5rem;

        display: block;

        font-size: 3rem;
        font-weight: 800;
        line-height: 3.5rem;
    }

    .login--form__input--label {
        margin-bottom: 0.5rem;

        display: block;
    }

    .login--form__password--input__wrapper {
        position: relative;

        .password__eye--button {
            position: absolute;
            top: 50%;
            right: 1rem;
            transform: translateY(-50%);

            border: none;

            background: none;
            color: var(--light-color);

            cursor: pointer;
        }

        .password__eye--button__active {
            color: var(--violet-accent);
        }
    }
}