.button {
    padding: 0.625rem;

    border: none;
    border-radius: 0.5rem;

    background-color: var(--violet-accent);
    color: var(--dark-color);

    font-size: 0.875rem;
    font-weight: 700;
    line-height: 1.5rem;
}