:host {
    position: relative;
    padding: 1.25rem 0.75rem;

    background-color: var(--dark-color);
}

.sidebar--logo {
    margin-left: 1rem;
    margin-bottom: 1.25rem;
}

.sidebar--links__list {
    margin-bottom: 1.5rem;

    display: grid;
    row-gap: 0.5rem;

    list-style: none;

    .sidebar--links__list__item {
        width: 100%;
        padding: 1rem 0.75rem;

        display: grid;
        grid-template-columns: auto 1fr;
        column-gap: 0.75rem;
        align-items: center;

        border: none;
        border-radius: 0.25rem;

        background: none;
        color: var(--light-color);

        font-size: 1rem;
        font-weight: 700;
        font-family: 'JetBrains Mono', sans-serif;

        text-align: left;

        cursor: pointer;

        &:hover,
        &:focus-visible {
            background: var(--dark-hover-color);
            color: var(--violet-accent);
        }

        .sidebar--links__list__item__icon {
            width: 1.25rem;
            height: 1.25rem;
        }
    }
}

.sidebar--subscribers__wrapper {
    padding-inline: 1rem;

    font-size: 0.875rem;
    font-weight: 700;

    .sidebar--subscribers__title {
        margin-bottom: 1.25rem;

        display: block;

        color: var(--light-secondary-color);

        font-size: 0.75rem;
        font-weight: 500;
    }

    .sidebar--subscribers__cards--container {
        margin-bottom: 1.25rem;
    }

    .sidebar--subscribers__link--label {
        width: fit-content;

        display: flex;
        gap: 0.75rem;
        align-items: center;

        color: var(--violet-accent);

        font-size: 0.75rem;
        font-weight: 500;
    }

    .sidebar--subscribers__link--icon {
        width: 0.875rem;
        height: 0.875rem;
    }
}

.sidebar--footer {
    position: absolute;
    bottom: 2rem;
    width: calc(100% - 1.5rem);
    padding: 0.25rem 1rem;

    display: grid;
    grid-template-columns: 2rem 1fr 1rem;
    column-gap: 0.75rem;
    align-items: center;

    color: var(--violet-accent);

    .sidebar--footer__avatar {
        width: 2rem;
        height: 2rem;

        border-radius: 50%;
        overflow: hidden;
    }

    .sidebar--footer__nickname {
        font-size: 0.875rem;
        font-weight: 700;
    }

    .sidebar--footer__settings-icon {
        width: 1rem;
        height: 1rem;

        color: var(--violet-accent);
    }
}