@if (profile) {
<div class="profile--card">
    <div class="profile--card__identify--info">
        <img [src]="baseApiUrl + '/' + profile.avatarUrl" alt="avatar" class="profile--card__identify--info__avatar">

        <div class="profile--card__identify--info__name--container">
            <span class="profile--card__identify--info__name--container__name">{{ profile.firstName }} {{
                profile.lastName }}</span>
            <span class="profile--card__identify--info__name--container__nickname">{{ profile.username }}</span>
        </div>
    </div>

    <div class="profile--card__description">{{ profile.description }}</div>

    <div class="profile--card__tags--container">
        @for(skill of profile.stack; track skill) {
        <app-skill-tag [text]="skill" />
        }
    </div>

    <app-button text="Подписаться" />
</div>
}