<div class="profile--card">
    <div class="profile--card__identify--info">
        <img src="/assets/images/cat.jpg" alt="avatar" class="profile--card__identify--info__avatar">

        <div class="profile--card__identify--info__name--container">
            <span>Райан Гослинг</span>
            <span>Gosling</span>
        </div>
    </div>

    <div class="profile--card__description">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam consequuntur dolorem vero mollitia
        laudantium exercitationem omnis, aliquid eveniet, quaerat architecto atque autem molestiae deleniti illo!
        Accusantium enim laudantium modi voluptates?
    </div>

    <div class="profile--card__tags--container">
        <app-skill-tag text="html" [isMain]="true" />
        <app-skill-tag text="css" />
    </div>
</div>